
.cardsPlayersContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
    justify-content: center;
  
    
}

@media screen and (max-width:1000px) {
    .cardsPlayersContainer{ 
        width: 100%;      
        gap: 50px;
    }
}