

.modal-header{
    display: flex;
    justify-content: space-between;
    .button-close{
        color: var(--color5);
        background: none;
        border: none;
        width: 30px;
        border-radius: 4px;
        font-size: 1.3rem;
    }
}
.modal-body{
    padding: 20px;
    select{
        border: none;
        border-bottom: 2px solid var(--color3);
        background: none;
        option{
            background-color: var(--color1);
        }
    }
}
.modal-body--name{
    display: flex;
    margin: 10px 0px 20px 0;
   
    input{
        background: none;
        border: none;
        border-bottom:2px solid var(--color3);
        width: 80%;
        margin-left: 20px;
    }
}
.form{
    .form--statistics{
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        div{
            width: 180px;
            display: flex;
            justify-content: space-between;
        }
    }
}