.playersEmpty{
    display: flex;
    gap: 10px;
    align-items: center;
    .LinkDashboard{
        background-color: green;
        color: white;
        padding: 10px;  
        border-style: initial;
        border-radius: 10px;
        p{
            margin: 0;
        }
    }
}
.players{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.players-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button-add{
    padding: 5px 10px;
    background-color: var(--color3);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease all 0.4s;
}
.button-disabled{
    padding: 5px 10px;
    background-color: var(--color2);
    color: white;
    border: none;
    border-radius: 4px;
    transition: ease all 1s;
}
.player-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.player-card.dark{
    background-color: #222;
}
.button--remove{
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease all 0.4s;
}



.button-add:hover {
    background-color: var(--color5);
    color: black;
}
.playersSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}
table {
    width: 50%;
    border-collapse: collapse; 
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
}

.trHead {
    background-color: var(--color2); 
    font-weight: bold;
}
.trDark{
    background-color: var(--color3); 
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--color1); 
}
.darkTr:nth-child(even) {
    background-color: var(--color4); 
}

.button-balance{
    padding: 5px 10px;
    background-color: var(--color3);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease all 0.4s;
}
.button-balance:hover{
    background-color: var(--color5);
    color: black;
}

.teams {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.team {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    width: 45%;
    text-align: center;
}
.teamDark{
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    width: 45%;
    text-align: center;
}
.team h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.team h5 {
    margin: 5px 0;
    font-weight: normal;
    color: #555;
}
.equiposTitle{
    text-align: center;
}

@media screen and (max-width:800px) {
    .players-grid{
        width: 95vw;
    }
    table {
        width: 99vw;
        .trDark{
            max-width: 99vw;
            th{
                font-size: 10px;
            }
        }
    }
    th, td {
        padding: 0px;
        
    }
   tbody{
    font-size: 10px;
   }
}