.inputContainer{
    border: 1px solid red;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        background: none;
        border: none;
        border-bottom: 1px solid rgb(58, 89, 203);
    }
}