.dashboard{
    min-height: 80vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .dashboard--newPlayer{
        .dashboard--newPlayer__button{
            background-color: var(--color5);
            color: var(--color1);
            border-radius: 5px;
            padding: 10px;
        }
    }
}

