.appContainer{
  background-color: var(--color6);
  transition: ease all 1s;
}
.appContainer-darkmode{
   background-color: #525252;
   color: white;
   transition: ease all 1s;
}

.title{
  color: var(--color4);
  font-size: 2rem;
}  
.titleContainer{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0px 0.2px #575757;
  height: 10vh;
  width: 100vw;
  top: 0px;
  position: fixed;
  z-index: 100;
  transition: ease all 1s;
}
.titleContainer.darkMode{
  background-color: #222;
  transition: ease all 1s;
}
.titleDark{
  font-size: 2rem;
  color: white;
}
.navBarPagesContainer{
  margin-top: 10vh;
  margin-left:15vw;
  display: flex;
  min-height: 90vh;
}
.pages{

  width: 100%;
}
@media screen and (max-width:800px) {
  .navBarPagesContainer{
    margin-left:0vw;
  }
  .pages{
    margin-top: 5vh;
    width: 100%;
  }
  .titleContainer{
    justify-content: center;
    gap: 0px;
    padding: 0px;
  }
}