*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

:root{
  --color1:#fffff7;
  --color2:#e9fccf;
  --color3:#d8fcb3;
  --color4:#b1fcb3;
  --color5:#89fcb3;
  --color6:#f2f2f2;
}